.bread {
            background: #379c9e;
            background: linear-gradient(90deg, rgba(83, 191, 237, 1) 0%, rgb(200, 143, 143) 50%, rgba(83, 191, 237, 1) 100%);
            padding: 120px;
            margin-top: 150px;
            text-align: center;
            color: Black;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        overflow: hidden;
        }

        .head {
            font-size: 30px;
            letter-spacing: 5px;
        }

        .img {
            float: left;
            margin-top: -80px;
        }

        .img1 {
            float: right;
            margin-top: -70px;
        }

        ul a {
            font-size: 20px;
            padding: 10px;
            color: blue;
            text-decoration: none;
        }

        ul a:hover {
            color: red;
        }

        .burger {
            margin-top: 80px;

        }

        .Burger {
            padding: 0;
            margin-left: -30px;
        }

        .Catchy {
            font-size: 19px;
            color: white;

        }
        .class{
            background: linear-gradient(90deg, rgba(83, 191, 237, 1) 0%, rgb(200, 143, 143) 50%, rgba(83, 191, 237, 1) 100%);
            border-radius: 10px;
            box-shadow: 2px 4px 6px white;
        }
        .more:hover{
            color: white;
        }
        .Brand{
            padding-top: 80px;
        }
        .Best{
            font-size: 25px;
        }
        .scroll-row{
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 4px 15px rgba(0,0,0,0.1);
            padding: 20px;
            display: inline-block;
        }
        .scroll-row:hover{
           background-color: rgba(83, 191, 237, 1);
           color: white;
        }
        .man{
          background-color: #0cb6b9;
          height: 200px;
          width: 200px;
          position: relative;
        }
         .delivery{
            background-color: rgba(83, 191, 237, 1);
            border-radius: 40px;
        }